/data.router/bin/kafka_2.9.2-0.8.1.1.*
/data.router/bin/kafka_2.9.2-0.8.1.1/
/data.router/bin/kafka_2.9.2-0.8.1.1/**
/data.router/bin/*.log
/data.provider/bin/kafka-python/
/data.provider/bin/kafka-python/**
/data.provider/bin/run.sh
/data.provider/src/5.crontab.tmp
/data.provider/log/
/data.provider/log/**

