
/.idea/
/.idea/**
/data.router/bin/kafka_2.9.2-0.8.1.1.*
/data.router/bin/kafka_2.9.2-0.8.1.1/
/data.router/bin/kafka_2.9.2-0.8.1.1/**
/data.router/bin/kafka_2.11-0.10.0.0/
/data.router/bin/kafka_2.11-0.10.0.0/**
/data.router/bin/*.log
/data.router/bin/.zkhost.properties
/data.provider/bin/kafka-python/
/data.provider/bin/kafka-python/**
/data.provider/bin/run.sh
/data.provider/bin/tmp.txt
/data.provider/bin/.kafkahost.properties
/data.provider/bin/.cqlhost.properties
/data.provider/src/5.crontab.tmp
/data.provider/log/
/data.provider/log/**
/data.provider.oanda/build/
/data.provider.oanda/build/**
/data.provider.oanda/.gradle/
/data.provider.oanda/.gradle/**
/rule.engine/.idea/
/rule.engine/.idea/**
/rule.engine/.gradle/
/rule.engine/.gradle/**
/rule.engine/bin/storm/
/rule.engine/bin/storm/**
/rule.engine/build/
/rule.engine/build/**
/rule.engine/bin/incubator-storm/
/rule.engine/bin/incubator-storm/**
/rule.engine/target/
/rule.engine/target/**
/rule.engine/bin/apache-storm-1.0.1.tar
/rule.engine/bin/apache-storm-1.0.1/
/rule.engine/bin/apache-storm-1.0.1/**
/histdata.com/data/
/histdata.com/data/**
/histdata.com/data/csv/
/histdata.com/data/csv/**
/data.aggregator.batch/log/
/data.aggregator.batch/log/**
/data.aggregator.batch/bin/run.sh
/restful.cache.service.rt/log/
/restful.cache.service.rt/log/**
/restful.cache.service.rt/bin/run.sh
/restful.cache.service.batch/log/
/restful.cache.service.batch/log/**
/restful.cache.service.batch/bin/run.sh
/restful.rule.submission/log/
/restful.rule.submission/log/**
/restful.rule.submission/bin/run.sh
/web.interface/bin/run.sh
/web.interface/src/js/flot/
/web.interface/src/js/flot/**


